*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* ------------------------------------------------MAIN BACKGROUND------------------------------------------------------------------------- */
.main{
    height: 100vh;
    width: 100%;
    background-color: #F2F2F2;
    position: absolute;
    background-size: cover; 
    background-position: center;
}

/*-----------------------------------------------------Background Image----------------------------------------------------------- */
.image-box img{
    height: 440px;
    width: 850px;
    margin: 30px 160px 50px 240px; 
    position: absolute;
    top: 40px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);   
}

.image-box .heading{
    margin: 5rem 0 0 22rem; 
    position: relative; 
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
} 

/* --------------------------------------------------FORM BOX------------------------------------------------------------------------- */

.form-box{
    position: relative;
    height: 350px;
    width: 260px; 
    background:#701212;
    margin: 8px 70px 70px 270px; 
    border-radius: 8px;
    padding: 0px 20px;
}

.form-box .title{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box .title span{
    font-size: 17px;
    color: white;
    font-weight: lighter;
    border-bottom: 2px solid #fff;  
    font-family: 'Open Sans', sans-serif;
} 

.form-box .name,
.form-box .password,
.form-box .conname{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 12px;
}

.form-box .email,
.form-box .uname,
.form-box .sname{
    padding: 10px 0px;
    color: white;
    font-size: 12px;
}

.form-box .input-field{ 
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5px solid #fff;
    outline: none;
    background: transparent; 
    color: white; 
    width: 60%;
}

.form-box .button-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;    
}

.form-box .button-line button{
    padding: 5px 10px;
    border-radius: 15px;
    border: 0px;
    text-transform: uppercase;
    color: #701212;
    font-weight: 600;
}

.form-box .button-line .icons p{
    color: white;
    font-size: 12px;  
}

.form-box .button-line .icons .fab{  
    color: white;
}

.form-box .last-line{
    text-align: center;
    margin-top: 10px;
    color: white; 
    font-size: 9px;

}

.image-box .footer{
    position: absolute;
    margin: -4rem 0 0 19rem; 
    font-size: 9px;
}