
*{
    margin: 0;
    padding: 0;
    /* font-family: 'Gilroy', sans-serif; */
}

@font-face {
    font-family: Gilroy;
    src: url("./Gilroy-Light.otf");
}

@font-face {
    font-family: Exbold;
    src: url("./Gilroy-ExtraBold.otf");
}

/* ------------------------------------------------MAIN BACKGROUND------------------------------------------------------------------------- */
.main{
    height: 100vh;
    width: 100%;
    background-color: #F2F2F2;
    position: absolute;
    background-size: cover; 
    background-position: center;
}

/*-----------------------------------------------------Background Image----------------------------------------------------------- */
.image-box img{
    position: absolute;
    height: 500px;
    width: 950px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);   
    margin: 30px 160px 50px 240px;
    overflow: hidden; 
    top: 40px;   
}

.image-box .heading{
    margin: 5rem 0 0 22rem; 
    position: relative;
    font-size: 20px;
    font-family: 'Exbold';
} 

/* --------------------------------------------------FORM BOX------------------------------------------------------------------------- */

.form-box{
    position: relative;
    /* height: 365px;
    width: 260px;  */
    height: 380px;
    width: 280px;
    background:#701212;
    margin: 8px 70px 70px 300px; 
    border-radius: 8px;
    padding: 0px 20px;
}

.form-box .title{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box .title span{
    font-size: 17px;
    color: white;
    font-weight: lighter;
    border-bottom: 1.5px solid #fff;  
    font-family: Gilroy;
} 

.email-content{
    padding-top: 10px;
}

.form-box .name,
.form-box .password,
.form-box .conname{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    font-family: Gilroy;
}

.form-box .email,
.form-box .uname,
.form-box .sname{
    padding: 10px 0px;
    color: white;
    font-size: 12px;
    font-family: Gilroy;
}

.form-box .input-field{ 
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5px solid #fff;
    outline: none;
    background: transparent; 
    color: white; 
    width: 60%;
}

.form-box .button-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;   
    font-family: Gilroy; 
}

.form-box .button-line button {
    padding: 5px 10px !important;
    border-radius: 15px;
    border: 0px;
    text-transform: uppercase;
    color: #701212;
    font-weight: 600;
}

.icons{
    text-align: right; 
    margin-right: 35px; 
}

.form-box .icons p{
    color: white;
    font-size: 12px;   
} 

.fab{  
    background-color: white;  
    border-radius: 8px;
    /* color: rgb(51, 51, 236); */
    display: flex;
    flex-direction: row;  
    justify-content:space-between;  
    padding: 4px;
    margin-right: 2px;  
} 

#fb-icon{
    color: rgb(51, 51, 236); 
    background-color: white;
}
#tw-icon{
    color: rgb(96, 173, 236); 
    background-color: white;
}

#fb-icon{
    padding: 4px 7px;
}

#google-icon{
    background:  linear-gradient(-120DEG, #4285F4, #34A853, #EA4335);
    color: white;
}

.form-box .last-line{
    text-align: center;
    margin-top: 10px;
    color: white; 
    font-size: 9px;
    font-family: Gilroy;
}

.image-box .footer{
    position: absolute;
    margin: -4rem 0 0 21rem; 
    font-size: 9px;
    font-family: Gilroy;
}  

